<div id="index-header">
  <h1>{{title}} GISELE{{user.name}}</h1>
  <p>Selecciona tu libro:</p>
</div>
<div>
<ul id="book-container">
  {{#each books}}
  <div id="book-items">
    <li id="book-item">
      <h2>{{this.title}}</h2>
      <p>{{this.author}}</p>
      <img src={{this.cover}} alt="preview">
      <button {{navigateTo this.id}}>Leer</button>
    </li>
  </div>
  {{/each}}
</ul>
</div>
